$fontFamilyName: 'Raleway', sans-serif;
$fontFamilyBody: 'Open sans', sans-serif;

$fontColorNav: white;
$fontColor: #404E67;
$background:  lighten(#404E67, 65);
$backgroundNav: #404E67;
$mainColorB: #404E67;
$mainColorR: #404E67; //Duplicated, delete
$lightColorB: lighten($mainColorB, 40);
$lightColorB_sub: lighten($mainColorB, 65);
$lightColorR: lighten($mainColorR, 10);

$action: #FACC2E;
$thriller: #BE81F7;
$comedy: #C8FE2E;
$sci-fi:#F79F81;

