<main>
  {{this.serviceProp}}
  <div class="container main-container" *ngIf="details">
    <h1>Product details</h1>
    <div class="product-cocntent row align-items-center">
      <div class="img-container col-lg-6">
        <img src="{{details.imageUrl}}">
      </div>
      <div class="details-container col-lg-6">
        <h2>{{details.name}}</h2>
        <p>{{details.description}}</p>
        <hr>
        <ul>
          <li class="d-flex">
            <span class="col-4">Price</span><span class="col-8"><span class="price">{{details.price |currency}}</span></span>
          </li>
          <li class="d-flex">
            <span class="col-4">Released</span><span class="col-8">{{details.year}}</span>
          </li>
          <li class="d-flex">
            <span class="col-4">Added</span><span class="col-8">{{details.added | date}}</span>
          </li>
          <li class="d-flex">
            <span class="col-4">Category</span><span class="col-8"><span
                *ngFor="let category of categoryResults; let isLast=last">{{category.name}}{{isLast ? '' : ', '}}</span></span>
          </li>
        </ul>
        <button class="button-basic" (click)="addToCart()">ADD TO CART</button>
        <button class="button-basic" (click)="goBack()">GO BACK</button>
      </div>
    </div>
  </div>
</main>
